.signup-page {
    background-image: linear-gradient(to bottom, #38f176, #baebb8, #ffffff);
    min-height: 100vh;
    background-size: cover ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px){
    .signup-page{
        flex-direction: column;
    }
}

.signup-head{
    color: #1d1d4b;
    margin: 20px;
}

.signup-form{
    padding: 10px;
    background-color: #ffffff;
    border: 1px lightgrey solid;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
}

.signup-input-el-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 20px;
}



.signup-label-el{
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    color: black;
    cursor: pointer;
}

.signup-input-el{
    outline: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    width: 65%;
}

.signup-button{
    width: 110px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #3a8608;
    color: #ffffff;
    margin-left: 40%;
    margin-bottom: 20px;
}

.signup-error-msg{
    color: red;
    text-align: center;
    margin-left: 126px;
    font-size: 15px;
}



@media (max-width:800px){
    .signup-form{
        width: 450px;
    }

    .signup-input-el-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .signup-label-el{
        margin-left: 30px;
    }

    .signup-input-el{
        margin-left: 30px;
        width: 80%;
    }

    .signup-button{
        margin-left: 35%;
    }

    .signup-error-msg{
        text-align: center;
        font-size: 13px;
        margin-left: 0px;
    }
}

@media (max-width : 500px){
    .signup-form{
        width: 345px;
    }

    .signup-button{
        margin-left: 30%;
    }

    .signup-error-msg{
        font-size: 10px;
    }

    
}
